html {
    font-family: sans-serif;
}

body {
    margin: 0;
    border-color: green;
}

header {
    background-color: #D85D56;
}

.header-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    min-width: 1024px;
    max-width: 1920px;
}

.logo img {
    vertical-align: middle;
    margin-left: 16px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuButton {
    font-size: 16px;
    border-radius: 4px;
    color: white;
    padding: 7px 10px 7px 10px;
    margin: 20px;
    text-decoration: none;
}

.menuButton:hover {
    background-color: black;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-color: black;
    height: 32px;
    width: 50px;
    margin-right: 16px;
    border-radius: 4px;
    position: relative;
}

.cartIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon img {
    width: 50%;
}

.cartN {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;
}

.cartList {
    visibility: hidden;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    background-color: gray;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: -20px;
}

.cartItem {
    font-size: 15px;
    margin: 8px;
    color: black;
    text-decoration: none;
}

.cart:hover .cartList{
    visibility: visible;
    height: fit-content;
    max-height: 400px;
}
